<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>

  <h1>
    <%= title %>
  </h1><br />
  <!-- <a href="/add" class="btn btn-sm btn-primary">Add Employee</a><br/><br/> -->
  <form action="/save" id="form" method="post" style="margin-left: 22px; border: 2px solid;width: 1231px;"><br />

    <div>
      <div class="form-group">
        <label>FIRST NAME <span class="required">*</span></label>
        <input type="text" class="form-control1" name="First_name" id="First_name" autocomplete="off" required>
      </div>


    </div><br />
    <div>
      <div class="form-group">
        <label>MIDDLE NAME <span class="required">*</span></label>

        <input type="text" name="Middle_name" id="Middle_name" class="form-control1" autocomplete="off" required>
      </div>


    </div><br />
    <div>
      <div class="form-group">
        <label>LAST NAME <span class="required">*</span></label>

        <input type="text" onPaste="return false" name="Last_name" id="Last_name" class="form-control1"
          autocomplete="off" required>
      </div>


    </div><br />
    <div>
      <div class="form-group">
        <label>DATE OF BIRTH<span class="required">*</span></label>

        <input type="date" onPaste="return false" name="DOB" id="DOB" class="form-control1" autocomplete="off" required>
      </div>


    </div><br />
    <div>
      <div class="form-group">
        <label>GENDER</label>
        <div class="form-control1">
          <input type="radio" name="Gender" id="Gender" value=M> MALE
          <input type="radio" name="Gender" id="Gender" value=F> FEMALE
        </div>

      </div><br />
      <div class="form-group">
        <label>SALARY STRUCTURE<span class="required">*</span></label>

        <table class="table table-bordered" style="width:10px;margin-left: 228px;
        margin-top: -51px;">
          <thead>
            <tr>
              <th>
                Basic
              </th>
              <th>
                Allowance </th>
              <th>
                Deduction
              </th>
              <th>
                Net Salary
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="number" onPaste="return false" name="Basic" id="Basic" autocomplete="off" required>
              </td>
              <td>
                <input type="number" onPaste="return false" name="Allowanace" id="Allowanace" autocomplete="off"
                  required>
              </td>
              <td>
                <input type="number" onPaste="return false" name="Deduction" id="Deduction" autocomplete="off" required>
              </td>
              <td>
                <input type="number" onPaste="return false" name="Netsal" id="Netsal" autocomplete="off" required>
              </td>
            </tr>
          </tbody>
        </table>
      </div><br />

      <div class="formdata">
        <button type="submit" class="btn btn-primary" style="margin-top: -43px">submit</button>
        <button type="cancel" class="btn btn-primary" style="margin-top: -46px;
    margin-left: 68px;">cancel</button> <br />
      </div>
  </form>
  <style>
    body {
      font-family: Tahoma, Geneva, Verdana, sans-serif;
    }

    .form-control1 {
      width: 240px;
      margin-left: 42px;
      display: inline-block;

    }

    .required {
      color: red;
    }

    label {
      display: inline-block;
      width: 184px;
      margin-left: 10px;
    }

    .formdata {
      margin-left: 273px;
      margin-top: 2px;
    }
  </style>
</body>

</html>